body {
  margin: 0;
  background: #FEFEFA;
}

.header {
  background: url("dot.png") repeat;
  padding: 20px;
  text-align: center;
}

.navbar {
  background: url("stroke.png") 0 0 repeat;
  overflow: hidden;
}

.navbar a {
  color: black;
  display: block;
  float: left;
  padding: 16px 14px;
  text-align: center;
  text-decoration: none;
}

.navbar a span {
  background-color: #FEFEFA;
}

.navbar a.quit-btn {
  float: right;
}

.navbar div a:hover {
  background-color: #FEFEFA;
}

.navbar a:hover {
  background: url("mesh.png") repeat;
  color: black;
}

.column {
  float: left;
  width: 99%;
  padding: 15px;
  margin-top: .5em;
}

.column-1-4 {
  float: left;
  width: 25%;
  margin-top: .5em;
}

.column-3-4 {
  float: left;
  width: 75%;
  margin-top: .5em;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.main-text-fields input[type="text"], input[type="password"] {
  background-color: inherit;
  border: 1px solid black;
  outline: none;
  width: 100%;
}

.add-marcador input[type="text"] {
  background-color: inherit;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid black;
  outline: none;
}

.main-buttons input[type="submit"], input[type="reset"] {
  background-color: inherit;
  border: 1px solid black;
  color: black;
  padding: 8px 12px;
  margin: 4px 2px;
  cursor: pointer;
  text-decoration: none;
}

.main-buttons input[type="submit"]:active, input[type="reset"]:active {
  background-color: black;
  color: white;
}

.marcador-container form {
  display: inline;
}

.marcador-container a {
  display: inline-block;
  color: black;
  padding: 6px 0;
  margin: 4px 0;
  max-width: 90%;
  overflow: hidden;
  text-decoration: none;
  width: 90%;
  white-space: nowrap;
}

.marcador-container a:hover {
  background-image: url("stroke.png");
}

.marcador-container a:hover span {
  background-color: white;
}

.marcador-container input {
  float: right;
}

.error-message-text {
  position: absolute;
  top: 30%;
  left: 45%;
  background-color: #FEFEFA;
  color: #FAA0A0;
}

.error-message {
  height: 2.5em;
  background-image: url("stroke-error.png");
  border: 1px solid #FAA0A0;
  position: relative;
  margin-bottom: 8px;
}

.login-form {
  margin: auto;
  width: 30%;
}

.login-form label {
  display: inline-block;
  padding: 6px;
}

.login-form input[type="text"], input[type="password"] {
  padding: 6px;
}

.login-form input[type="submit"] {
  float: right;
}
